@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,700&family=Lato:wght@700&family=Nunito:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
}
/* Bodies*/
body {
  background-color: #ffffff;
  color: #000000;
  font-family: "Nunito", sans-serif;
}
.indexBody {
  background-image: url(Images/index-boks.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.logonBody {
  background-image: url(Images/logon.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.signupBody {
  background-image: url(Images/oprettelse.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}
/* Media query for dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #2b2b2b;
    color: #ffffff;
  }
}
/*header*/
.header {
  background: rgb(54, 58, 96);
  background: linear-gradient(
    90deg,
    rgba(54, 58, 96, 1) 0%,
    rgba(0, 113, 195, 0.14674373167235644) 100%
  );
  min-height: 100px;
  max-width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 4px 4px 10px #00000034, -4px -4px 10px #00000034;
}
.header__arrow {
  position: absolute;
  left: 20px;
  top: 25px;
}
.header__heading {
  font-size: 1.5rem;
}
/*Index Elementer*/
@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.logo__logo {
  animation: slideIn 1s ease-in-out, bounce 2s 1s;
  max-width: 80vw;
}
/*Index animation*/
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}
/*Logon*/
.logonLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logon__phonenumber {
  background: rgb(64, 152, 202);
  background: linear-gradient(
    124deg,
    rgba(64, 152, 202, 1) 0%,
    rgba(40, 61, 115, 1) 100%
  );
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
  width: 277px;
  height: 52px;
  border-radius: 45px;
  text-align: center;
  margin-top: 133px;
  box-shadow: 4px 4px 10px #00000034, -4px -4px 10px #00000034,
    inset 4px 4px 10px #00000034, inset -4px -4px 10px #00000034;
}
.logon__password {
  background: rgb(64, 152, 202);
  background: linear-gradient(
    124deg,
    rgba(64, 152, 202, 1) 0%,
    rgba(40, 61, 115, 1) 100%
  );
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
  width: 277px;
  height: 52px;
  border-radius: 45px;
  text-align: center;
  margin-top: 35px;
  box-shadow: 4px 4px 10px #00000034, -4px -4px 10px #00000034,
    inset 4px 4px 10px #00000034, inset -4px -4px 10px #00000034;
}
::placeholder {
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
  font-weight: bold;
}
.logon__button {
  color: white;
  background-color: #2b2b2b;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: bold;
  width: 277px;
  height: 52px;
  border-radius: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 130px;
  box-shadow: 4px 4px 10px #00000034, -4px -4px 10px #00000034,
    inset 4px 4px 10px #00000034, inset -4px -4px 10px #00000034;
}
.links {
  display: flex;
  gap: 100px;
  margin-top: 1rem;
}
.links__forgotten {
  color: white;
}
.links__new {
  color: white;
}
/*navigation*/
.packet {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.packet__map {
  max-width: 100%;
  max-height: 90vw;
  margin-top: 10px;
  box-shadow: 4px 4px 10px #00000034, -4px -4px 10px #00000034;
}
.packet__text {
  font-size: 1.3rem;
  margin-top: 27px;
}
.packetButtons {
  margin-top: 27px;
  display: flex;
  gap: 10px;
}
.packetButtons--highlight {
  background: rgb(28, 54, 73);
  background: linear-gradient(
    90deg,
    rgba(28, 54, 73, 1) 0%,
    rgba(0, 113, 195, 1) 100%
  );
  width: 142px;
  height: 48px;
  border-radius: 15px;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  box-shadow: 4px 4px 10px #00000034, -4px -4px 10px #00000034,
    inset 4px 4px 10px #00000034, inset -4px -4px 10px #00000034;
}
.packetButtons--toned {
  background: rgb(67, 67, 67);
  background: linear-gradient(
    90deg,
    rgba(67, 67, 67, 1) 0%,
    rgba(0, 113, 195, 0.2475840678068102) 100%
  );
  width: 142px;
  height: 48px;
  border-radius: 15px;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  box-shadow: 4px 4px 10px #00000034, -4px -4px 10px #00000034,
    inset 4px 4px 10px #00000034, inset -4px -4px 10px #00000034;
}
/*Oprettelse*/
.backArrow {
  position: absolute;
  left: 11px;
  top: 6px;
}
.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signup__phonenumber {
  background: rgb(64, 152, 202);
  background: linear-gradient(
    124deg,
    rgba(64, 152, 202, 1) 0%,
    rgba(40, 61, 115, 1) 100%
  );
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
  width: 277px;
  height: 52px;
  margin-top: 113px;
  border-radius: 45px;
  text-align: center;
  box-shadow: 4px 4px 10px #00000034, -4px -4px 10px #00000034,
    inset 4px 4px 10px #00000034, inset -4px -4px 10px #00000034;
}
.signup__password {
  background: rgb(64, 152, 202);
  background: linear-gradient(
    124deg,
    rgba(64, 152, 202, 1) 0%,
    rgba(40, 61, 115, 1) 100%
  );
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
  width: 277px;
  height: 52px;
  border-radius: 45px;
  text-align: center;
  box-shadow: 4px 4px 10px #00000034, -4px -4px 10px #00000034,
    inset 4px 4px 10px #00000034, inset -4px -4px 10px #00000034;
}
.signup__pin {
  margin-top: 80px;
}
.signup__repeatpin {
  margin-top: 15px;
}
.condition {
  display: flex;
  gap: 10px;
  margin-top: 90px;
}
/*Input code taken from https://stackoverflow.com/questions/1120879/css-checkbox-input-styling*/
input[type="checkbox"] {
  position: relative;
  cursor: pointer;
}
input[type="checkbox"]:before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  background-color: #e9e9e9;
  border-radius: 45px;
}
input[type="checkbox"]:checked:before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  background-color: #1e80ef;
  border-radius: 45px;
}
input[type="checkbox"]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 6px;
  border-radius: 45px;
}
.signup__button {
  color: white;
  background-color: #2b2b2b;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: bold;
  width: 277px;
  height: 52px;
  border-radius: 45px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 10px #00000034, -4px -4px 10px #00000034,
    inset 4px 4px 10px #00000034, inset -4px -4px 10px #00000034;
}
/*Åben boks*/
.openBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.openBox__heading {
  margin-top: 55px;
  font-size: 1.5rem;
  font-weight: bold;
}
.openBox__text {
  margin-top: 20px;
  font-size: 1.3rem;
  font-weight: bold;
}
.track_drag {
  width: 98.5%;
  height: 63px;
  display: flex;
  align-items: center;
  position: absolute;
  overflow: hidden;
  border-radius: 45px;
  touch-action: none;
  background: rgb(54, 225, 71);
  background: linear-gradient(
    120deg,
    rgba(54, 225, 71, 1) 0%,
    rgba(196, 222, 119, 1) 100%
  );
  box-shadow: 4px 4px 10px #00000034, -4px -4px 10px #00000034,
    inset 4px 4px 10px #00000034, inset -4px -4px 10px #00000034;
}
#outerContainer {
  margin-top: 109px;
}
/*https://codepen.io/arjunkalburgi/pen/QWWamxW*/
#item {
  width: 55px;
  height: 55px;
  justify-self: flex-start;
  background-color: white;
  border-radius: 45px;
  touch-action: none;
  user-select: none;
  z-index: 999;
  margin: 11px 1px;
  background-size: 40% 40%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='284.936px' height='284.936px' viewBox='0 0 284.936 284.936' style='enable-background:new 0 0 284.936 284.936;' xml:space='preserve'%3E%3Clink xmlns='' type='text/css' id='dark-mode' rel='stylesheet' href=''/%3E%3Cstyle xmlns='' type='text/css' id='dark-mode-custom-style'/%3E%3Cg%3E%3Cg%3E%3Cpath d='M277.515,135.9L144.464,2.857C142.565,0.955,140.375,0,137.9,0c-2.472,0-4.659,0.955-6.562,2.857l-14.277,14.275 c-1.903,1.903-2.853,4.089-2.853,6.567c0,2.478,0.95,4.664,2.853,6.567l112.207,112.204L117.062,254.677 c-1.903,1.903-2.853,4.093-2.853,6.564c0,2.477,0.95,4.667,2.853,6.57l14.277,14.271c1.902,1.905,4.089,2.854,6.562,2.854 c2.478,0,4.665-0.951,6.563-2.854l133.051-133.044c1.902-1.902,2.851-4.093,2.851-6.567S279.417,137.807,277.515,135.9z'/%3E%3Cpath d='M170.732,142.471c0-2.474-0.947-4.665-2.857-6.571L34.833,2.857C32.931,0.955,30.741,0,28.267,0s-4.665,0.955-6.567,2.857 L7.426,17.133C5.52,19.036,4.57,21.222,4.57,23.7c0,2.478,0.95,4.664,2.856,6.567L119.63,142.471L7.426,254.677 c-1.906,1.903-2.856,4.093-2.856,6.564c0,2.477,0.95,4.667,2.856,6.57l14.273,14.271c1.903,1.905,4.093,2.854,6.567,2.854 s4.664-0.951,6.567-2.854l133.042-133.044C169.785,147.136,170.732,144.945,170.732,142.471z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
  box-shadow: inset 4px 4px 6px #c9c9c9, inset -4px -4px 6px #ffffff;
}
.track_text {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Nunito", sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: white;
}
.track_text--before {
  opacity: 1;
}
.track_text--after {
  opacity: 0;
}
.track_text--end {
  opacity: 0;
}
.animate {
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0.5s ease-in, background-color 0.5s ease-in;
}
/*Luk Låge*/
.closing {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.closing__image {
  height: 60vw;
  width: 60vw;
  margin-top: 45px;
}
.closing__text {
  margin-top: 25px;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}
.closing__knap {
  background: rgb(28, 54, 73);
  background: linear-gradient(
    90deg,
    rgba(28, 54, 73, 1) 0%,
    rgba(0, 113, 195, 1) 100%
  );
  width: 323px;
  height: 44px;
  border-radius: 15px;
  margin-top: 35px;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  box-shadow: 4px 4px 10px #00000034, -4px -4px 10px #00000034,
    inset 4px 4px 10px #00000034, inset -4px -4px 10px #00000034;
}
/*Søge boks*/
.searching {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bluetooth__icon {
  height: 225px;
  width: 225px;
  margin-top: 45px;
  border-radius: 180px;
  animation: pulse-blue 2s infinite;
}
@keyframes pulse-blue {
  0% {
    transform: scale(0.97);
    box-shadow: 0 0 0 0 rgba(52, 172, 224, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(52, 172, 224, 0);
  }

  100% {
    transform: scale(0.97);
    box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
  }
}
.searching__heading {
  margin-top: 45px;
  text-align: center;
}
.searching__text {
  margin-top: 30px;
  text-align: center;
  font-weight: bold;
}
/*pakke oversight*/
.parcelBoxs {
  display: grid;
  gap: 20px;
  margin-top: 40px;
}
.parcelBox {
  display: flex;
  justify-content: center;
}
.parcelOverwiev {
  background-image: url(Images/cardboard.png);
  background-size: cover;
  width: 268px;
  height: 132px;
  padding-left: 10px;
  padding-top: 5px;
  box-shadow: 4px 4px 10px #00000034, -4px -4px 10px #00000034,
    inset 4px 4px 10px #00000034, inset -4px -4px 10px #00000034;
}
.parceloverwiev__text {
  font-weight: bold;
}
.parceloverwiev__text--red {
  color: rgb(118, 27, 27);
  font-weight: bold;
  margin-top: 40px;
}
.overwievContinue {
  width: 69px;
  height: 137px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(28, 54, 73);
  background: linear-gradient(
    90deg,
    rgba(28, 54, 73, 1) 0%,
    rgba(0, 113, 195, 1) 100%
  );
  box-shadow: 4px 4px 10px #00000034, -4px -4px 10px #00000034,
    inset 4px 4px 10px #00000034, inset -4px -4px 10px #00000034;
}
.hamburger {
  display: none;
}

.hamburger__bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #ffffff;
}
.hamburger {
  display: block;
  cursor: pointer;
  position: absolute;
  left: 85vw;
  top: 5.5vh;
}

.hamburger.active .hamburger__bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .hamburger__bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .hamburger__bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}
