body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    padding: 12px 32px;
    background-color: #ffffff; /* Green */
    border: 1px solid #000000;
    color: rgb(0, 0, 0);
    border-radius: 4px;
    font-size: 16px;
}