:root {
    --primaryBackground: #E7F4F8 ;
    --primaryText: #181A32 ;
    --primaryButton: #E1A72A ;
    --secondaryButton: #2A316B ;
    --white: #fff ;
    --secondaryContainer: #F1F4FF ;
    --tertiaryContainer: #FAF5ED ;
}
