/*stylings til alle sider*/

:root {
  --text: #565c77;
  --bg: #d9ddf1;
  --altText: #000720;
  --footer: white;
  --footerIcon: #d9ddf1;
  --footerActive: #00a0d6;
}
body {
  margin: 0;
  background-color: var(--bg);
  font-family: Arial, Helvetica, sans-serif;
}

.primaryButton {
  display: block;
  text-decoration: none;
  color: white;
  background-color: #00a0d6;
  font-size: 20px;
  width: 292px;
  height: 40px;
  border-radius: 10px;
  place-self: center;
  padding-top: 15px;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.375);
}
.primaryText {
  font-size: 24px;
  color: var(--text);
}

/*forside*/
.frontpage {
  text-align: center;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}
.frontpage__image {
  max-width: 60%;
  position: absolute;
  bottom: 0;
}

/*Opret profil*/
.profileCreation {
  text-align: center;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.inputBox__textField {
  font-size: 18px;
  border: none;
  border-radius: 10px;
  height: 40px;
  width: 70%;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.375);
  text-align: center;
  margin: 5px 0 10px 0;
  max-width: 292px;
  border: solid #4f4f4f 3px;
}
.inputBox__title {
  margin: 0 0 0 60px;
  padding-left: 10px;
  font-size: 18px;
  color: var(--text);
  text-align: left;
  font-weight: lighter;
}
.primaryButton--small {
  margin-top: 40px;
  width: 248px;
}

/*validering*/
.validation {
  text-align: center;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.primaryText--small {
  font-size: 20px;
}

/*pinkode*/
.pincodeCreation {
  text-align: center;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/*Pakke side med pakker*/
.displayImage__img {
  height: 95px;
}
.displayImage__wrapper {
  display: inline;
  position: relative;
  perspective: 1000px;
}
.displayImage {
  display: flex;
  justify-content: center;
}
.displayImage__gate {
  position: absolute;
  background-image: url(images/nærboks-gate.png);
  background-size: 173px;
  width: 170px;
  height: 95px;
  animation: open 3s forwards;
  animation-delay: 3s;
  transform-origin: left;
}

@keyframes open {
  to {
    transform: rotateY(-140deg);
  }
}
.main__packages {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px 0 20px;
}
.packages {
  background-color: white;
  height: 292px;
  width: 310px;
  border-radius: 15px;
  margin-inline: auto;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.375);
  padding: 0px 15px 0 15px;
  overflow: auto;
  margin-bottom: 30px;
}

.package {
  display: flex;
  justify-content: space-between;
  border-bottom: solid;
  border-color: #d9d9d9;
}
.package__number {
  margin-left: 15px;
  font-size: 24px;
}
.package__button {
  border-radius: 10px;
  background-color: #00a0d6;
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 20px 10px 0 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.returnButton {
  font-weight: bold;
  text-align: center;
  color: #54555f;
  text-decoration: none;
  background-color: #f3f4ff;
  padding: 20px 20px 20px 20px;
  border-radius: 15px;
  width: 292px;
  place-self: center;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.375);
  margin-bottom: 80px;
}
/*scrollbar fra https://dev.to/xtrp/how-to-create-a-beautiful-custom-scrollbar-for-your-site-in-plain-css-1mjg */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

/*pakkeside når der ikke er nogen pakker*/
.packages__icon {
  fill: #00a0d6;
  display: block;
  margin-inline: auto;
  margin-top: 45px;
}
.primaryText--center {
  text-align: center;
}

/*support side*/
.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.header__item {
  background-color: #00a0d6;
  text-decoration: none;
  text-align: center;
  padding: 22px 0 22px 0;
  font-size: 24px;
  color: var(--altText);
}
.header__item--active {
  background-color: var(--bg);
}
.support {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 70px;
}
.support__image {
  max-width: 90%;
}
.support__button {
  position: absolute;
  top: 160px;
  left: 200px;
  font-size: 24px;
  text-decoration: none;
  background-color: #00a0d6;
  color: white;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.375);
  border-radius: 15px;
  padding: 10px 25px 10px 25px;
}
.support__info {
  text-align: center;
  margin-top: 45px;
  color: var(--text);
  font-size: 22px;
}
/*footer*/
.footer {
  margin-top: 20px;
  background-color: var(--footer);
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 999;
}
.footer__icon {
  fill: var(--footerIcon);
}
.footer__icon--active {
  fill: var(--footerActive);
}

/*loader*/
.loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg);
  z-index: 1000;
  transition: opacity 0.75s, visability 0.75s;
  transition-delay: 2s;
}
.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #eeeeee;
  border-top-color: #00a0d6;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}
.loader__image {
  position: fixed;
  max-width: 60%;
  transform: scaleX(-1);
  bottom: 0;
  right: 0;
}
.loader__logo {
  position: fixed;
  width: 200px;
  top: 25px;
}
.loader--hidden {
  opacity: 0;
  visibility: 0;
}
@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
/*Skyer*/
.TwoClouds {
  position: fixed;
  top: 20px;
  margin-top: 10px;
  width: 250px;
  display: block;
  margin-inline: auto;
  animation: driftClouds 6s linear infinite;
}
.OneCloud {
  position: fixed;
  top: 80px;
  width: 100px;
  margin-bottom: 10px;
  display: block;
  margin-inline: auto;
  animation: driftCloud 8s linear infinite;
}
@keyframes driftCloud {
  0% {
    transform: translateX(-115%);
  }
  100% {
    transform: translateX(410%);
  }
}
@keyframes driftClouds {
  0% {
    transform: translateX(-60%);
  }
  100% {
    transform: translateX(70%);
  }
}
/*FAQ*/
.FAQ {
  background-color: white;
  width: 90%;
  padding: 20px 10px 20px 10px;
  border-radius: 15px;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  font-weight: lighter;
  color: #54555f;
  margin: 40px auto;
}

.FAQ__description {
  margin: 20px 0 0 0;
}

.FAQ__image {
  position: fixed;
  bottom: 7%;
  right: 0%;
  width: 80%;
  z-index: -500;
}
/*Ipad størrelse*/
@media (min-width: 700px) {
  .primaryText {
    font-size: 35px;
  }
  .primaryButton {
    width: 400px;
    font-size: 25px;
  }
  .frontpage__image {
    max-width: 50%;
  }
  .inputBox__title {
    margin-left: 230px;
    font-size: 22px;
  }
  /*pakker*/
  .displayImage__img {
    height: 150px;
  }
  .displayImage__gate {
    height: 150px;
    background-size: 277px;
    width: 260px;
  }
  .packages {
    height: 400px;
    width: 415px;
  }
  .package__button {
    font-size: 24px;
    padding-top: 22px;
  }
  .package__number {
    font-size: 30px;
  }
  .returnButton {
    width: 400px;
    font-size: 25px;
  }
  /*support*/
  .support__button {
    top: 220px;
    left: 427px;
    font-size: 38px;
  }
  .header__item {
    font-size: 30px;
  }
  .support__info {
    font-size: 28px;
  }
  /*loader*/
  .loader__image {
    max-width: 40%;
  }
  .OneCloud {
    width: 200px;
    top: 115px;
  }
  .TwoClouds {
    width: 400px;
    top: 40px;
  }
  .loader__logo {
    width: 300px;
  }
  .loader::after {
    width: 125px;
    height: 125px;
    border: 20px solid #eeeeee;
    border-top-color: #00a0d6;
  }
}
@media (min-width: 1000px) {
  .frontpage__image {
    max-width: 40%;
  }
  .inputBox__title {
    margin-left: 360px;
  }
  .support__button {
    top: 285px;
    left: 550px;
    font-size: 50px;
  }
  .support__info {
    margin-bottom: 110px;
  }
}

.checkbox__container {
  position: relative;
}
.checkbox__button {
  position: absolute;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 37%,
    rgba(0, 160, 214, 1) 100%
  );
  width: 252px;
  height: 252px;
  border-radius: 50%;
  box-shadow: inset 0 -9px 14px 0 rgb(0, 0, 0, 25%),
    0 11px 22px 0 rgb(0, 0, 0, 35%), inset 0 18px 14px 0 rgb(255, 255, 255, 65%);
  border: solid 2px #09384a;
}
.checkbox__button:before {
  content: "Åben låge";
  position: absolute;
  font-size: 42px;
  color: #09384a;
  line-height: 252px;
  padding-left: 37px;
}
.checkbox__button .checkbox__icon {
  display: none;
}
.checkbox__button .checkbox__icon:after {
  position: absolute;
  content: "";
  border-top: 25px solid #00a0d6;
  border-right: 25px solid #00a0d6;
  height: 120px;
  width: 56px;
  top: 135px;
  left: 56px;
  transform: rotate(220deg) scaleX(-1);
  transform-origin: left top;
  animation: check 1s ease;
}
.checkbox:checked ~ .checkbox__button .checkbox__icon {
  display: block;
}
.checkbox:checked ~ .checkbox__button:before {
  display: none;
}
.checkbox {
  display: none;
}
@keyframes check {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: 56px;
    opacity: 1;
  }
  100% {
    height: 120px;
    width: 56px;
    opacity: 1;
  }
}
/* loader fra: https://codepen.io/darryncodes/pen/zYbqYPR */

.loader__text {
  position: relative;
  color: #578ef8;
  font-size: larger;
  text-align: center;
  margin-top: 200px;
}
.dots__loader {
  top: 40%;
  position: absolute;
  left: 50%;
}

.dot {
  position: absolute;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: #00a0d6;
  animation: bounce 1.3s linear infinite;
}

.dot:nth-child(1) {
  left: -1.5rem;
}

.dot:nth-child(2) {
  animation-delay: -1s;
}

.dot:nth-child(3) {
  right: -2.5rem;
  animation-delay: -0.8s;
}
#dots__loader {
  animation: fadeOut 1s 5s forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    display: none;
  }
}

@keyframes bounce {
  0%,
  80%,
  100% {
    transform: initial;
  }

  33% {
    transform: translatey(-1rem);
  }
}
@keyframes fadeIn {
  to {
    opacity: 1;
    visibility: visible;
  }
}

#open__button {
  display: table;
  margin: 0 auto;
  margin-top: 150px;
  padding: 40px;
  padding-top: 80px;
  padding-bottom: 80px;
  color: white;
  font-size: x-large;
  background-color: #00a0d6;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  animation: fadeIn 0.5s ease-in-out 6s forwards;
  transition: all 0.2s ease;
}
.open__button:active {
  transform: scale(0.96);
}

.return__button {
  display: table;
  margin: 0 auto;
  margin-top: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 100px;
  padding-right: 100px;
  font-size: x-large;
  color: white;
  background-color: #00a0d6;
  border: none;
  border-radius: 8px;
}

/*sætter automatisk siderne til darkmode hvis det er slået til på device - https://dev.to/arnu515/auto-dark-light-theme-using-css-only-2e0m */
@media (prefers-color-scheme: dark) {
  :root {
    --text: #578ef8;
    --bg: #000720;
    --altText: white;
    --footer: #2e354c;
    --footerIcon: #b3b9d6;
    --footerActive: #00a0d6;
  }
}
