.animation{
    display: grid;
    gap: 1rem;
}

.animation__image{
    max-width: 100%;
    justify-self: center;
    animation: reveal linear both;
    animation-timeline: view(block);
    animation-range: entry 10% cover 40% ;
    
}

@keyframes reveal{
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }

}
.animation__headline{
    text-align: center;
    font-size: 60px;
    font-family: sans-serif;
    background: linear-gradient(to right, rgba(255, 215, 255, 0) 0%, rgba(225, 255, 255, 0.5) 20%, rgba(255, 255, 255, 0) 61%), linear-gradient(rgb(97, 183, 217) 52%, rgb(224, 246, 255) 60%, rgb(78, 99, 132) 61%); /* you can change the colors based on your preference */
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    animation: wave 2000ms ease alternate infinite;
    transition: all 0.4s ease;
  }
  @keyframes wave {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 50vw 10px;
    }
  }


.animation__subHeadline{
    text-align: center;
    font-size: 45px;
    color: rgb(9, 53, 103);
    font-family: sans-serif;
    
}

.animation__image--small{
    justify-self: center;
    width: 250px;
}

@keyframes adjust-progressbar {
	from { transform: scaleX(0); }
	to { transform: scaleX(1); }
}

.progress {
	position: fixed;
	left: 0; 
	top: 0;
	width: 100%; 
	height: 1rem;
	background: rgb(0, 255, 136);

	transform-origin: 0 50%;
	animation: adjust-progressbar linear;
	animation-timeline: scroll(block root); 
	animation-duration: auto;
}