/*generel styling*/
/* link som skal indsættes mellem link til style sheet og <head>: <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">*/
body{
  background-color: #F4F5F6;
}
.text{
  font-family: inter, Arial, Helvetica, sans-serif;
}
/*button styling*/
.button {
  width: 283px;
  height: 56px;
  border-radius: 20px;
  box-shadow: 3px 3px 5px 0px #A5B7C1, -3px -3px 5px 0px #E4EFF6;
  border: none;
  text-align: center;
  font-size: 24px;
  box-shadow: 3px 3px 5px 0px #A5B7C1, -3px -3px 5px 0px #E4EFF6;
}
.button--primary{
  background: #479DD1;
  color: #ffffff;
}
.button--secondary{
  background: #F4F5F6;
  color: #274C77;
}
/*index*/
.startscreen{
  background-image: ;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.64) 0%, rgba(255, 255, 255, 0.64) 0%, rgba(252, 253, 254, 0.64) 0.01%, rgba(71, 157, 209, 0.64) 99.99%);
}
.logo{

}
.startscreen__text{

} 
.text{

}

/*searching*/
@keyframes loadingAnimation {
  0%, 100% {
      opacity: 1;
  }
  25%, 75% {
      opacity: 0.3;
  }
}
.searching__body{
  display: grid;
  grid-template-rows: 100px 1fr 100px;
  align-items: center;
  justify-content: center;
  margin: 0%;
}

.searching__button{
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25), -5px -5px 10px 0px #FFF;
}
.searching__image--packagebox{
  flex-shrink: 0;
  width: 11.5rem;
  align-self: flex-end;
}
.searching__image--phone{
  width: 8rem;
  align-self: flex-start;
}
.searching__image--bluetooth{
  width: 2.8rem;
  position: absolute;
  top: 60%; 
  left: 50%; 
  transform: translate(-50%, -50%);
}
.searching__ball--first{
  width: 30px;
  position: absolute;
  top: 40%; 
  left: 45%; 
  transform: translate(-50%, -50%);
  animation: loadingAnimation 4s infinite 0s;
}
.searching__ball--second{
  width: 28px;
  position: absolute;
  top: 45%; 
  left: 37%; 
  transform: translate(-50%, -50%);
  animation: loadingAnimation 4s infinite -1s;
}
.searching__ball--third{
  width: 24px;
  position: absolute;
  top: 50%; 
  left: 32%; 
  transform: translate(-50%, -50%);
  animation: loadingAnimation 4s infinite -2s;
}
.searching__ball--forth{
  width: 20px;
  position: absolute;
  top: 55%; 
  left: 29%; 
  transform: translate(-50%, -50%);
  animation: loadingAnimation 4s infinite -3s;
}


/*connected*/
.connected__body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0%;
}

/*open*/
.body__open{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.open {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.625rem;
  background: rgba(244, 245, 246, 0.70);
  box-shadow: -2px -2px 4px 0px rgba(255, 255, 255, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);
  width: 20.625rem;
  height: 10.125rem;
}
.open__image{
  width: 15rem;
}
/*complete*/
.complete__body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.complete{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.625rem;
  background: rgba(244, 245, 246, 0.70);
  box-shadow: -2px -2px 4px 0px rgba(255, 255, 255, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);
  width: 20.625rem;
  height: 10.125rem;
}
.guide__information{
  background: rgba(244, 245, 246, 0.70);
  box-shadow: -2px -2px 4px 0px rgba(255, 255, 255, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
