.body {
  background-color: #d9ddf1;
  font-family: Arial, Helvetica, sans-serif;
}
.frontPage__image {
  width: 250px;
  position: fixed;
  bottom: -20px;
}
.login__headline {
  text-align: center;
  color: #565c77;
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 5px;
  margin-top: 60px;
}
.login {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.login__textField {
  font-size: 18px;
  border: none;
  border-radius: 10px;
  height: 40px;
  width: 70%;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.375);
  text-align: center;
  margin: 5px 0 10px 0;
}
.actionButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.597);
  text-decoration: none;
  background-color: #00a0d6;
  border-radius: 10px;
  width: 55%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 5px 0 10px 0;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.375);
}
.button--slim {
  width: 70%;
  padding: 8px 0 8px 0;
  margin-bottom: 50px;
}
.link {
  color: #565c77;
}
.site__headline {
  text-align: center;
  color: #000720;
  margin-top: 70px;
}
.site__subHeadline {
  text-align: center;
  color: #54555f;
}
.site__describtion {
  color: #54555f;
  padding: 0 40px 0 40px;
}
.displayImage__img {
  height: 95px;
}
.displayImage__wrapper {
  display: inline;
  position: relative;
  perspective: 1000px;
}
.displayImage {
  display: flex;
  justify-content: center;
}
.displayImage__gate {
  position: absolute;
  background-image: url(images/nærboks-gate.png);
  background-size: 173px;
  width: 170px;
  height: 95px;
  animation: open 3s forwards;
  transform-origin: left;
}

@keyframes open {
  to {
    transform: rotateY(-140deg);
  }
}
.packages {
  background-color: white;
  height: 292px;
  width: 337px;
  border-radius: 15px;
  margin-inline: auto;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.375);
  padding: 0px 15px 0 15px;
  overflow: auto;
}
.package {
  display: flex;
  justify-content: space-between;
  border-bottom: solid;
  border-color: #d9d9d9;
}
.package__number {
  margin-left: 15px;
  font-size: 24px;
}
.package__button {
  border-radius: 10px;
  background-color: #00a0d6;
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 20px 10px 0 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}
