body{
  margin: 0%;
}
.navbar {
    background-color: #479DD1;
    overflow: hidden;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  }
  .navbar__menuicon--img {
    width: 40px;
  }
  .navbar__text {
    flex-grow: 1;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    padding-right: 20px;
  }